*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--gris);
    padding: 0 24px;
    overflow-y: hidden;
}

:root{
    --black: #000;
    --white: #fff;
    --gris: #f6f6f6;
    --chocolat: #dca05f;
}

header{
    margin-bottom: 14px;
}

header .icon{
    margin-bottom: 12px;
}

header .icon i{
    font-size: 34px;
}

main h1{
    font-size: 2.2em;
    margin-top: 50px;
    text-align: center;
}
main .container{
    max-height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .card{
    flex: 1;
    height: min-content;
    padding: 30px;
    box-shadow: 0 0 3px var(--black);
    background-color: var(--black);
    color: var(--chocolat);
    border-radius: 8px;
    border: 1px solid var(--chocolat);
    transition: all 300ms linear;
}
.container .card:hover{
    background-color: var(--chocolat);
    color: var(--black);
    border: 1px solid var(--black);
}
.container .card:hover .icon{
    border: 1px solid var(--black);
}
.container .card .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--chocolat);
}
.container .active{
    background-color: var(--chocolat);
    color: var(--black);
    border: 1px solid var(--black);
}
.container .active:hover{
    border: 1px solid var(--black);
}
.container .active .icon{
    border: 1px solid var(--black);
}
.ctn-btn{
    margin-top: 20px;
} 
.container .active a{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 12px 24px;
    border-radius: 999px; 
    transition: all 300ms linear;
}
.container .active a svg{
    width: 24px;
}
.container .active a:hover{
    background-color: var(--black);
    color: var(--chocolat);
}

@media (max-width: 1024px) {
    body{
        padding: 10px 24px 50px;
        overflow-y: visible;
    }
    main h1{
        text-align: left;
        margin-bottom: 30px;
    }
    main .container{
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
}